{
  "openapi": "3.1.0",
  "info": {
    "title": "Antonagents API",
    "version": "v1",
    "description": "Call your Antonagents agents programmatically. Every agent has a stable public id (`ag_...`) and is reached with an agent-scoped API key (`sk_ag_...`)."
  },
  "servers": [
    {
      "url": "https://app.over-watch.in",
      "description": "Hosted instance (base URL moves to antonagents.com after the domain cutover)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/agents/{public_id}/chat": {
      "post": {
        "summary": "V1 Chat",
        "description": "Send a message to the agent and get back a run id. The agent's session is resumed, so multi-turn context is preserved. Poll `GET /v1/runs/{run_id}` for the result.",
        "operationId": "v1_chat_v1_agents__public_id__chat_post",
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Public Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1ChatIn"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/agents/{public_id}/run": {
      "post": {
        "summary": "V1 Run",
        "description": "Trigger the agent with its own default instruction (the prompt it was configured with). Returns a run id to poll.",
        "operationId": "v1_run_v1_agents__public_id__run_post",
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Public Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/runs/{run_id}": {
      "get": {
        "summary": "V1 Get Run",
        "description": "Fetch a run and its events (assistant messages, tool calls, result). Scoped: the key's agent must own the run.",
        "operationId": "v1_get_run_v1_runs__run_id__get",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Run Id"
            }
          },
          {
            "name": "public_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "the agent's public id",
              "title": "Public Id"
            },
            "description": "the agent's public id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AgentAlertsIn": {
        "properties": {
          "rules": {
            "items": {
              "$ref": "#/components/schemas/AlertRuleIn"
            },
            "type": "array",
            "title": "Rules"
          }
        },
        "type": "object",
        "title": "AgentAlertsIn"
      },
      "AgentConnectorsIn": {
        "properties": {
          "providers": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Providers"
          }
        },
        "type": "object",
        "title": "AgentConnectorsIn"
      },
      "AgentCreate": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 200,
            "minLength": 1,
            "title": "Name"
          },
          "prompt": {
            "type": "string",
            "maxLength": 20000,
            "title": "Prompt",
            "default": ""
          },
          "schedule_kind": {
            "type": "string",
            "enum": [
              "once",
              "cron",
              "interval"
            ],
            "title": "Schedule Kind",
            "default": "once"
          },
          "schedule_expr": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Schedule Expr"
          },
          "env": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object",
            "title": "Env"
          },
          "provider": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Provider"
          },
          "model": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model"
          },
          "system_prompt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "System Prompt"
          },
          "allowed_tools": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Allowed Tools"
          },
          "max_turns": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Turns"
          },
          "baseline_minutes": {
            "anyOf": [
              {
                "type": "integer",
                "maximum": 100000.0,
                "minimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Baseline Minutes"
          },
          "run_now": {
            "type": "boolean",
            "title": "Run Now",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "AgentCreate"
      },
      "AgentDbConnectionsIn": {
        "properties": {
          "db_connection_ids": {
            "items": {
              "type": "integer"
            },
            "type": "array",
            "title": "Db Connection Ids"
          }
        },
        "type": "object",
        "title": "AgentDbConnectionsIn"
      },
      "AgentModelIn": {
        "properties": {
          "provider": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 60
              },
              {
                "type": "null"
              }
            ],
            "title": "Provider"
          },
          "model": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 120
              },
              {
                "type": "null"
              }
            ],
            "title": "Model"
          }
        },
        "type": "object",
        "title": "AgentModelIn"
      },
      "AgentNameIn": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 200,
            "minLength": 1,
            "title": "Name"
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "AgentNameIn"
      },
      "AgentScheduleIn": {
        "properties": {
          "schedule_kind": {
            "type": "string",
            "enum": [
              "once",
              "cron",
              "interval"
            ],
            "title": "Schedule Kind",
            "default": "once"
          },
          "schedule_expr": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Schedule Expr"
          }
        },
        "type": "object",
        "title": "AgentScheduleIn"
      },
      "AgentSkillsIn": {
        "properties": {
          "skill_ids": {
            "items": {
              "type": "integer"
            },
            "type": "array",
            "title": "Skill Ids"
          }
        },
        "type": "object",
        "title": "AgentSkillsIn"
      },
      "AlertRuleIn": {
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "on_failure",
              "on_success",
              "result_contains",
              "schedule_miss"
            ],
            "title": "Kind"
          },
          "condition": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 500
              },
              {
                "type": "null"
              }
            ],
            "title": "Condition"
          },
          "enabled": {
            "type": "boolean",
            "title": "Enabled",
            "default": true
          }
        },
        "type": "object",
        "required": [
          "kind"
        ],
        "title": "AlertRuleIn"
      },
      "ApiKeyIn": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 120
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          }
        },
        "type": "object",
        "title": "ApiKeyIn"
      },
      "Body_upload_agent_file_api_agents__agent_id__upload_post": {
        "properties": {
          "file": {
            "type": "string",
            "contentMediaType": "application/octet-stream",
            "title": "File"
          }
        },
        "type": "object",
        "required": [
          "file"
        ],
        "title": "Body_upload_agent_file_api_agents__agent_id__upload_post"
      },
      "DbConnectionIn": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 120,
            "minLength": 1,
            "title": "Name"
          },
          "engine": {
            "type": "string",
            "enum": [
              "postgres",
              "mysql",
              "mongo"
            ],
            "title": "Engine"
          },
          "dsn": {
            "type": "string",
            "maxLength": 2000,
            "minLength": 1,
            "title": "Dsn"
          },
          "mode": {
            "type": "string",
            "enum": [
              "read_only",
              "read_write"
            ],
            "title": "Mode",
            "default": "read_only"
          }
        },
        "type": "object",
        "required": [
          "name",
          "engine",
          "dsn"
        ],
        "title": "DbConnectionIn"
      },
      "DbConnectionTestIn": {
        "properties": {
          "engine": {
            "type": "string",
            "enum": [
              "postgres",
              "mysql",
              "mongo"
            ],
            "title": "Engine"
          },
          "dsn": {
            "type": "string",
            "maxLength": 2000,
            "minLength": 1,
            "title": "Dsn"
          },
          "mode": {
            "type": "string",
            "enum": [
              "read_only",
              "read_write"
            ],
            "title": "Mode",
            "default": "read_only"
          }
        },
        "type": "object",
        "required": [
          "engine",
          "dsn"
        ],
        "title": "DbConnectionTestIn"
      },
      "DbConnectionUpdateIn": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 120,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "dsn": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Dsn"
          },
          "mode": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "read_only",
                  "read_write"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Mode"
          }
        },
        "type": "object",
        "title": "DbConnectionUpdateIn"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "InvitationIn": {
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "Email"
          },
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "member"
            ],
            "title": "Role",
            "default": "member"
          }
        },
        "type": "object",
        "required": [
          "email"
        ],
        "title": "InvitationIn"
      },
      "LoginIn": {
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "Email"
          },
          "password": {
            "type": "string",
            "maxLength": 200,
            "minLength": 1,
            "title": "Password"
          }
        },
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "title": "LoginIn"
      },
      "MemberRoleIn": {
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "member"
            ],
            "title": "Role"
          }
        },
        "type": "object",
        "required": [
          "role"
        ],
        "title": "MemberRoleIn"
      },
      "NotificationsReadIn": {
        "properties": {
          "ids": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ids"
          }
        },
        "type": "object",
        "title": "NotificationsReadIn"
      },
      "OrgSwitchIn": {
        "properties": {
          "org_id": {
            "type": "integer",
            "title": "Org Id"
          }
        },
        "type": "object",
        "required": [
          "org_id"
        ],
        "title": "OrgSwitchIn"
      },
      "RegisterIn": {
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "Email"
          },
          "password": {
            "type": "string",
            "maxLength": 200,
            "minLength": 8,
            "title": "Password"
          },
          "name": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 200
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          }
        },
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "title": "RegisterIn"
      },
      "ReplyIn": {
        "properties": {
          "prompt": {
            "type": "string",
            "minLength": 1,
            "title": "Prompt"
          }
        },
        "type": "object",
        "required": [
          "prompt"
        ],
        "title": "ReplyIn"
      },
      "SignupInviteIn": {
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "Email"
          }
        },
        "type": "object",
        "required": [
          "email"
        ],
        "title": "SignupInviteIn"
      },
      "SkillIn": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 120,
            "minLength": 1,
            "title": "Name"
          },
          "description": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 500
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "instructions": {
            "type": "string",
            "maxLength": 20000,
            "title": "Instructions",
            "default": ""
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "SkillIn"
      },
      "V1ChatIn": {
        "properties": {
          "message": {
            "type": "string",
            "maxLength": 100000,
            "minLength": 1,
            "title": "Message"
          }
        },
        "type": "object",
        "required": [
          "message"
        ],
        "title": "V1ChatIn"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your agent-scoped API key (looks like `sk_ag_...`). Create one in the console under an agent's **API** panel."
      }
    }
  }
}