{
  "openapi": "3.1.0",
  "info": {
    "title": "Antonagents API",
    "version": "v1",
    "description": "Call your Antonagents agents programmatically. Every agent has a stable public id (`ag_...`) and is reached with an agent-scoped API key (`sk_ag_...`)."
  },
  "servers": [
    {
      "url": "https://app.over-watch.in",
      "description": "Hosted instance (base URL moves to antonagents.com after the domain cutover)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/agents/{public_id}": {
      "get": {
        "summary": "Get agent",
        "description": "Metadata for the agent this key reaches: its name, kind, whether it has a default instruction, and the URL to mount it as an MCP server.",
        "operationId": "v1_get_agent_v1_agents__public_id__get",
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Public Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{public_id}/chat": {
      "post": {
        "summary": "Send a message",
        "description": "Send a message to the agent. The agent's session is resumed, so multi-turn context is preserved. By default returns `{run_id, agent_id}` immediately; poll `GET /v1/runs/{run_id}` or stream `GET /v1/runs/{run_id}/stream`. Pass `?wait=N` (seconds, capped at the server's max, default 300) to block until the run finishes and get `{status, done, result, error, ...}` back in one call; if it's still running after N seconds, `done` is `false`.",
        "operationId": "v1_chat_v1_agents__public_id__chat_post",
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Public Id"
            }
          },
          {
            "name": "wait",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "seconds to wait for the result",
              "default": 0,
              "title": "Wait"
            },
            "description": "seconds to wait for the result"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1ChatIn"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{public_id}/run": {
      "post": {
        "summary": "Run default instruction",
        "description": "Run the agent's default instruction (like the console's Run button). Same response shapes and `?wait=N` behavior as chat.",
        "operationId": "v1_run_v1_agents__public_id__run_post",
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Public Id"
            }
          },
          {
            "name": "wait",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "seconds to wait for the result",
              "default": 0,
              "title": "Wait"
            },
            "description": "seconds to wait for the result"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/runs/{run_id}": {
      "get": {
        "summary": "Get a run",
        "description": "Fetch a run and all of its events. `public_id` must be the agent that owns the run and the key must be scoped to that agent.",
        "operationId": "v1_get_run_v1_runs__run_id__get",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Run Id"
            }
          },
          {
            "name": "public_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "the agent's public id",
              "title": "Public Id"
            },
            "description": "the agent's public id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/runs/{run_id}/stream": {
      "get": {
        "summary": "Stream a run",
        "description": "Server-sent events for a run: stored events are replayed, then live events follow until the run finishes. The final frame is a `status` event (`succeeded`, `failed` or `interrupted`).",
        "operationId": "v1_stream_run_v1_runs__run_id__stream_get",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Run Id"
            }
          },
          {
            "name": "public_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "the agent's public id",
              "title": "Public Id"
            },
            "description": "the agent's public id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "V1ChatIn": {
        "properties": {
          "message": {
            "type": "string",
            "maxLength": 100000,
            "minLength": 1,
            "title": "Message"
          }
        },
        "type": "object",
        "required": [
          "message"
        ],
        "title": "V1ChatIn"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your agent-scoped API key (looks like `sk_ag_...`). Create one in the console under an agent's **API** panel."
      }
    }
  }
}
